
<div class="box-header">
 <i class="fa fa-envelope"></i>
 <h3 class="box-title">Download movie</h3>
</div>
<div class="box-body">
 <div class="row">   
    
    <form ng-submit="search(text)" class="col-sm-12">
       <div class="input-group">
          <input ng-model="text" placeholder="Type message..." class="form-control">
          <div class="input-group-btn"><button class="btn btn-success"><i class="fa fa-search"></i></button></div>          
       </div>
    </form>
 </div>
 <div class="row">
    <div ng-repeat="result in results" class="row col-sm-12 torrent-result">
        <p class="col-xs-9 col-sm-10">{{ result.title }}</p>
        <button ng-click="download(result.torrents[0].url)" class="col-xs-3 col-sm-2 btn btn-primary btn-sm">Download</button>
    </div>
  </div>
</div>

<div ng-show="loading" class="loading-img"></div>