/Client.Core/bin
/Client.Core/obj
/Client.Gui/bin
/Client.Gui/obj
/Model.Core/bin
/Model.Core/obj
/packages
/Plugins/bin
/Plugins/obj
/Server/bin
/Server/obj
/Utils/bin
/Utils/obj
/App/App/bin
/App/App/obj
/App/App.Android/bin
/App/App.Android/obj
/App/App.iOS/bin
/App/App.iOS/obj
/Model.Db/bin
/Model.Db/obj
